<!DOCTYPE html>

<html lang="es">

	<head>
		{% include 'layout/header.html' %}
	</head>

	<body class="no-trans front-page transparent-header  ">

		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<div class="page-wrapper">
			
			{% include 'layout/menu.html' %}

			{# header-container end #}
			
			{# breadcrumb start #}
			{# ================ #}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/{{ lang_code }}/index.html">{% trans %}Inicio{% endtrans %}</a></li>
						<li class="active">{% trans %}Servicios{% endtrans %}</li>
						<li class="active">{% trans %}Antifraude{% endtrans %}</li>
					</ol>
				</div>
			</div>
			{# breadcrumb end #}
			
			{# banner start #}
			{# ================ #}
			<div class="banner default-bg" style="background-image:url('/static/images/main_AF_background.jpg'); background-position: 50% 46%;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{% trans %}Servicio{% endtrans %} <strong>{% trans %}Antifraude{% endtrans %}</strong></h2>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{% trans %}Antifraude integra los servicios de Antiphishing, Antitroyanos y Análisis forense en un CSIRT propio y compuesto por un equipo de profesionales en guardia 24x7 con el fin de atender sus incidencias.{% endtrans %}</p>
						</div>
					</div>
				</div>
			</div>
			{# banner end #}

			{# main-container start #}
			{# ================ #}
			<section class="main-container padding-bottom-clear">
				<div class="container">
					<div class="row">
						{# main start #}
						{# ================ #}
						<div class="main col-md-12">

							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
										<span class="icon large default-bg circle"><i class="hs-AF_logo-single_dark"></i></span>
										<h3>{% trans %}CSIRT propio 24/7{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}El uso fraudulento de su imagen y marca puede producirse en cualquier momento.  El CSIRT de Hispasec vela por la detección, evaluación y neutralización de  cualquier amenaza vinculada a su organización. 24 horas al día, 7 días a la semana. Sin interrupciones.{% endtrans %}</p>
										<a href="#csirt_panel">{% trans %}Más información{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
										<span class="icon large default-bg circle"><i class="fa fa-credit-card "></i></span>
										<h3>{% trans %}Antiphishing{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Nuestra experiencia de años en la lucha contra las campañas de phishing nos ha permitido desarrollar una red de sensores única, con capacidad de detección temprana y respuesta contundente para garantizarla neutralización de esta amenaza en el menor tiempo posible.{% endtrans %}</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
										<span class="icon large default-bg circle"><i class="fa fa-bug"></i></span>
										<h3>{% trans %}Antitroyanos{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}El malware es una amenaza que infecta a sus clientes y daña la reputación de su organización. Hispasec posee un equipo propio y dedicado en exclusiva a la detección, análisis y erradicación del malware orientado al fraude.{% endtrans %}</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
										<span class="icon large default-bg circle"><i class="fa fa-stethoscope"></i></span>
										<h3>{% trans %}Análisis Forense{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Gracias al estudio de los sistemas infectados, se puede conocer en detalle el vector de ataque que el malware está aprovechando para infectar a sus clientes o los equipos de su organización.El conocimiento de una nueva amenaza le permitirá elegir la mejor opción para defenderse.{% endtrans %}</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
										<span class="icon large default-bg circle"><i class=" icon-mobile"></i></span>
										<h3>{% trans %}Seguridad Android{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Desde nuestro proyecto colaborativo Koodous y junto con el equipo de analistas de malware, podemos ofrecer un servicio completo de detección temprana y gestión de amenazas en los sistemas operativos Android.{% endtrans %}</p>
										<a href="/{{ lang_code }}/services/koodous.html">{% trans %}Más información{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
										<span class="icon large default-bg circle"><i class="fa fa-cogs"></i></span>
										<h3>{% trans %}API personalizable{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Todos nuestros servicios ofrecen una API configurable y adaptable a sus necesidades, para así poder implantarlas en sus sistemas. Flexibilidad. Nosotros aportamos el conocimiento y los datos a su visión{% endtrans %}</p>
									</div>
								</div>
							</div>

						</div>
						{# main end #}

					</div>
				</div>
			</section>
			{# main-container end #}

			{# section start #}
			{# ================ #}
			<section class="pv-20 padding-bottom-clear clearfix">
				<div class="container">
					<h2 class="text-center">{% trans %}Servicios complementarios a Antifraude{% endtrans %}</h2>
					<div class="separator"></div>
					<p class="text-center space-bottom">{% trans %}Para complementar la detección y gestión de casos de Phishing, Troyanos y/o Forenses, HISPASEC pone a su disposición servicios complementarios para necesidades muy específicas.{% endtrans %}</p>
					<div class="row">
						<div class="col-md-6 space-top">
							<br>
							<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="fa fa-arrows"></i></span>
								<div class="body">
									<h4 class="title">LSI | Log Security inspector</h4>
									<p>{% trans %}El servicio LSI, ofrece un análisis automatizado 24/7 de los registros generados por los servicios web críticos a nivel de peticiones. El objetivo es la detección temprana de actividades sospechosas que evidencien el abuso contra su organización (Phishing, Malware y abuso de marca).{% endtrans %}</p>
									<div class="separator-3"></div>
								</div>
							</div>
							<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon without-bg"><i class="icon-megaphone"></i></span>
								<div class="body">
									<h4 class="title">{% trans %}Reputación y vigilancia de marca{% endtrans %}</h4>
									<p>{% trans %}A través de técnicas OSINT (Open Source Intelligence) y Machine Learning podemos detectar un uso fraudulento o influencia social sobre la reputación de su organización o marcas comerciales. Servicio de detección y clasificación léxica automatizada personalizable a través de parámetros.{% endtrans %}</p>
									<div class="separator-3"></div>
								</div>
							</div>

							<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
								<span class="icon without-bg"><i class="fa fa-globe"></i></span>
								<div class="body">
									<h4 class="title">{% trans %}ITW{% endtrans %}</h4>
									<p>{% trans %}El servicio ITW realiza un seguimiento de su web monitorizando su certificado, buscando resoluciones incorrectas y notificando de posibles defacements.{% endtrans %}</p>

									<div class="separator-3"></div>
								</div>
							</div>

							<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="400">
								<span class="icon without-bg"><i class="fa fa-envelope"></i></span>
								<div class="body">
									<h4 class="title">{% trans %}DMARC{% endtrans %}</h4>
									<p>{% trans %}DMARC es un estándar por el cual, cualquier servidor de correo podrá enviar un reporte en caso de email spoofing que será analizado por nuestros sistemas. Estos reportes contienen información que nos ayuda en la detección temprana de casos de phishing contra la entidad de nuestros clientes.{% endtrans %}</p>

									<div class="separator-3"></div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<img src="/static/images/services_AF_addons.png" alt="">
						</div>
					</div>
				</div>
				<a id="csirt_panel"></a>
			</section>
			{# section end #}
			{# main-container start #}
			{# ================ #}
			
			{# section start #}
			{# ================ #}
			<section class="section background-img-2 dark-translucent-bg" style="background-position: 50% 100%;">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
								<div class="row">
									<div class="col-sm-8">
										<h1 class="title">{% trans %}¿Interesado?{% endtrans %}</h1>
										<p>{% trans %}Nuestros servicios tienen disponible un periodo de demostración.Ponganos a prueba. Rétenos. Para HISPASEC el trabajo es una oportunidadpara poder competir.{% endtrans %}</p>
									</div>
									<div class="col-sm-4">
										<br>
										<p><a href="/{{ lang_code }}/contact.html" class="btn btn-lg btn-gray-transparent btn-animated">{% trans %}Solicite una DEMO{% endtrans %}<i class="fa fa-envelope-o pl-20"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{# section end #}

			<section  class="main-container border-clear light-gray-bg padding-bottom-clear">
				<div class="container">
					<div class="row">
						{# main start #}
						{# ================ #}
						<div class="main col-md-12">
							{# page-title start #}
							{# ================ #}
							<h1 class="page-title text-center">{% trans %}Nuestro cuadro de mandos CSIRT{% endtrans %}</h1>
							{# page-title end #}
							<p>{% trans %}Cuadro de mandos configurable. Obtenga una visión integral del estado de su seguridad.Consulte el pasado, estudie el presente y prepare su estrategia de seguridad para el futuro.{% endtrans %}
							<div class="image-box space-top style-4">
								<div class="row grid-space-0">
									<div class="col-md-6">
										<div class="overlay-container">
											<img src="/static/images/serv_AF_csirt.png" alt="">
											<div class="overlay-to-top">
												<p class="small margin-clear"><em>{% trans %}Gestión de cuentas{% endtrans %}</em></p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="body">
											<div class="pv-30 visible-lg"></div>
											<h3>{% trans %}Gestión de entidades y roles de usuarios{% endtrans %}</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">{% trans %}Tendrá un control total de los usuarios que acceden al panel, sus permisos, registros y acciones relacionadas.{% endtrans %}</p>
											<br>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4">
								<div class="row grid-space-0">
									<div class="col-md-6 col-md-push-6">
										<div class="overlay-container">
											<img src="/static/images/serv_AF_csirt1.png" alt="">
											<div class="overlay-to-top">
												<p class="small margin-clear"><em>{% trans %}Listado global y estadísticas{% endtrans %}</em></p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-md-pull-6">
										<div class="body text-right">
											<div class="pv-30 visible-lg"></div>
											<h3>{% trans %}Todos sus datos. Al alcance de un click.{% endtrans %}</h3>
											<div class="separator-3"></div>
											<p class="margin-clear">{% trans %}Podrá gestionar cada caso de manera independiente, viendo en todo momento su estado y proceso de cierre, así como las estadísticas mensuales.{% endtrans %}</p>
											<br>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4">
								<div class="row grid-space-0">
									<div class="col-md-6">
										<div class="overlay-container">
											<img src="/static/images/serv_AF_csirt2.png" alt="">
											<div class="overlay-to-top">
												<p class="small margin-clear"><em>{% trans %}Histórico y filtrado{% endtrans %}</em></p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="body">
											<div class="pv-30 visible-lg"></div>
											<h3>{% trans %}Histórico de casos{% endtrans %}</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">{% trans %}Podrá acceder al listado completo y filtrar por diferentes estados de caso o fechas entre otras modalidades.{% endtrans %}</p>
											<br>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4">
								<div class="row grid-space-0">
									<div class="col-md-6 col-md-push-6">
										<div class="overlay-container">
											<img src="/static/images/serv_AF_csirt3.png" alt="">
											<div class="overlay-to-top">
												<p class="small margin-clear"><em>{% trans %}Acciones realizadas en el incidente{% endtrans %}</em></p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-md-pull-6">
										<div class="body text-right">
											<div class="pv-30 visible-lg"></div>
											<h3>{% trans %}Detalle de incidente{% endtrans %}</h3>
											<div class="separator-3"></div>
											<p class="margin-clear">{% trans %}En cada caso gestionado, se establece una correlación de las acciones tomadas para su cierre completo.{% endtrans %}</p>
											<br>
										</div>
									</div>
								</div>
							</div>
						</div>
						{# main end #}

					</div>
				</div>
			</section>
		
			<br>
		{% include 'layout/footer.html' %}
		{% include 'layout/libs.html' %}
	</body>
</html>